body {
  color: gray !important;
}

.tag-item {
  background-color: aliceblue;
  border-radius: 3px;
  padding: 2px 4px;
  margin-top: 16px;
}
.tag-item:hover {
    background-color: rgb(201, 225, 247);
}
.status-item {
  cursor: help;
}

.tutorial-link {
  text-decoration: none;
  font-weight: 500;
  padding: 3px 5px;
}
.tutorial-link:hover {
  /* text-decoration: underline; */
  color: rgb(129, 160, 243);
  /* background-color: rgb(150, 194, 235); */
  border-radius: 5px;
  transition: 0.5s;
}
.serial-number {
    color: rgb(26, 111, 190);
    font-weight: 700;
}
.jumbotron {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.table-container {
  width: 70%;
}
.dataTable {
  width: 100%;
}
.title-and-description {
    width: 70%;
    margin-bottom: 50px;
}

.tag-container {
    display: flex;
    gap: 5px;
    font-size: smaller;
}
.title-img {
    margin-bottom: 50px;
}

.disabled-link {
  color: gray !important;
}

.footer {
  margin-top: 50px;
}
.table-responsive {
  padding-bottom: 25px;
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
}
.table-responsive::-webkit-scrollbar {
    border-radius: 10px;
    height: 4px;
    background: #e0e0e0;
}
.table-responsive::-webkit-scrollbar-thumb {
    border-radius: 10px;
    height: 4px;
    background: #a3cadb;
}
